[submodule "extern/googletest"]
	path = extern/googletest
	url = git@github.com:google/googletest.git
[submodule "extern/llvm-project"]
	path = extern/llvm-project
	url = git@github.com:llvm/llvm-project.git
